.date {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #5F5F5F;
    margin-top: 5px;
}

.context {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5F5F5F;
    white-space: pre-wrap;
}

.context-image {
    max-width: 200px;
    height: auto;
    margin-top: 5px;
}

.translation {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.link, .link:hover {
    color: inherit;
    text-decoration: inherit;
}

.translation {
    display: flex;
    flex-direction: row;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.translated-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.translation-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 0;
}