textarea {
    resize: none;
}

.left-side {
    padding: 50px 50px 50px 50px;
    width: 50%;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-right {
    position: relative;
    left: 40px;
}

.text-box {
    background: #FBFDFF;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.small-box {
    height: 38px;
}

.big-box {
    height: 143px;
}

button {
    width: 143px;
    height: 46px;
    align-self: flex-end;
    background: #FBFDFF;
    border: 2px solid #000000;
    border-radius: 999px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: auto;
}

Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.background {
    max-width: 50%;
    padding: 50px 0px 0px 50px;
    align-self: end;
}

.image {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.file-input {
    padding: 5px;
    display: none;
}

.error {
    color: rgb(230, 0, 0);
}

h1 {
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: rgba(0, 0, 0, 0.75);
}

p {
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.75);
}